.iconContainer{
    display: inline;
    position:absolute;
    left: 2%;
    float: left;
}

.navigateContainer{
    display: inline;
    position: relative;
    float: left;
    margin-left: 20%;
}

.extensContainer{
    display: inline;
    position: absolute;
    float:left;
    right: 10%;
}

.contentContainer{
    margin: auto;
    min-height: 1200px;
    width: 80%;
}